main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#timer {
  font-size: large;
  font-weight: bold;
}

.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.board-column {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #d3d6da;
  width: 60px;
  height: 60px;
  font-size: 30px;
  font-weight: bold;
}

@keyframes shake-animation {
  0% {
    transform: translateX(0);
  }
  10%,
  90% {
    transform: translateX(-5px);
  }
  20%,
  80% {
    transform: translateX(5px);
  }
  30%,
  50%,
  70% {
    transform: translateX(-5px);
  }
  40%,
  60% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake-animation 0.5s ease-in-out;
}

@keyframes blink-animation {
  0% {
    background-color: #6aaa64;
  }
  50% {
    background-color: white;
  }
  100% {
    background-color: #6aaa64;
  }
}

.blink {
  animation: blink-animation 1s infinite;
}
